{%extends 'base.html'%}

{% block head_title %}{{ block.super }} - {{ user }}{% endblock head_title %}

{%block contenuti%}

    <div class="row">
        <div class="col-4">
            <div class="card my-2">
                <div class="card-header">
                    <th scope="row">{{ forloop.counter }} </th>
                    <h3>Verifica Django</h3>
                </div>
                <div class="card-body">
                    <h3>Alessandro Magistrelli</h3>
                </div>
                <div class="card-footer">
                    <h3>Eseguita il 20/05/2020</h3>
                </div>
            </div>
        </div>
    </div>
    
{%endblock contenuti%}